html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
}

.center {
  display: grid;
  place-items: center;
}

.card {
  min-width: 40vw !important;
  display: grid;
  place-items: center;
  padding-top: 1rem;
}

.title-container {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-container {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  padding-bottom: 1rem;
}
.textfield {
  width: 30vw !important;
}

.waypoint-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.loading-spinner {
  padding-top: 2rem;
}

.waypoint-item-container {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  padding-left: 1rem;
  align-items: center;
}

.spacer {
  padding-top: 2rem;
}

.footer {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  row-gap: 1rem;
}

.footer-text {
  text-align: center;
  padding-bottom: 1rem;
}

.footer-button {
  max-width: 100%;
  justify-self: center;
}

/* if screen is tablet or BIGGER */
@media (min-width: 768px) {
  .centeredSnackbar {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* if screen is tablet or SMALLER */
@media (max-width: 768px) {
  .body {
    max-width: 90vw;
  }
  .textfield {
    width: 80vw !important;
  }

  .card {
    width: 100% !important;
  }
}
